@use "../common/" as *;
@use "../presets/" as *;
@use "../mixins/" as *;

.page-footer {
  background-color: $color-light-gray;
  padding: 70px 0;
  min-height: 354px;

  @include sm {
    padding: 32px 0;
  }

  &__inner {
    @extend %container;
    position: relative;
  }

  &__logo {
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }

  &__img {
    width: 130px;
    height: 15px;

    @include sm {
      width: 92px;
      height: 10px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @include sm {
      flex-wrap: wrap;
    }
  }

  &__navigation {
    display: flex;
    gap: 50px;

    @include sm {
      gap: 20px;
    }
    
  }

  &__contacts {
    @include sm {
      order: 3;
    }
  }

  &__cipyright {
    display: block;
    text-align: right;

    @include sm {
      text-align: left;
    }
  }

  .navigation__item {
    margin-bottom: 10px;
  }

  .navigation__link,
  .contacts__link,
  .network__heading {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.66;

    &--base {
      font-weight: 700;
      color: $color-highlight;
    }

    &--base:hover {
      opacity: .4;
    }
  }

  .contacts__item {
    margin-bottom: 10px;
  }

  .contacts__link {
    margin-right: 20px;

    &--heading {
      text-decoration: underline;
    }
  }

  .network__heading {
    text-decoration: underline;
    margin-bottom: 10px;
    display: block;
  }

  .network__container {
    display: flex;
    gap: 20px;
    align-items: center;

    @include sm {
      gap: 10px;
    }
  }

  .network__icon:hover {
    opacity: .4;
  }

  &__cipyright {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.66;
  }
}