@use "../common/" as *;
@use "../presets/" as *;

.page-header {

  @extend %container;

  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu__list,
  .action__list {
    display: flex;
    align-items: center;
  }

  .menu__list {
    gap: 30px;
  }

  .menu__link--active {
    color: $color-highlight;
    font-weight: 700;
  }

  .menu__link:hover {
    color: $color-highlight;
  }

  .action__list {
    gap: 20px;
  }

  .action__lang,
  .action__currency {
    display: flex;
    gap: 5px;
  }

  .action__currency {
    font-weight: 100;
    font-size: 20px;
  }

  .action__lang::after,
  .action__currency::after {
    content: url('../img/components/page-header/ic-arrow.svg');
    position: relative;
    top: -3px;
  }

  .action__button {
    height: 25px;
    width: 25px;
    display: block;

    &--search {
      background-image: url('../img/components/page-header/ic-search.svg');
    }

    &--search:hover {
      background-image: url('../img/components/page-header/ic-search-hover.svg');
    }

    &--cart {
      background-image: url('../img/components/page-header/ic-cart.svg');
    }

    &--cart:hover {
      background-image: url('../img/components/page-header/ic-cart-hover.svg');
    }
  }
}