@use "../common/" as *;
@use "../presets/" as *;
@use "../mixins/" as *;

.page-header {

  @extend %container;

  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include md {
    height: 40px
  }

  &__logo  {
    display: flex;
    justify-content: center;
  }

  &__img {
    @include md {
      width: 50%;
      height: 50%;
    }
  }
  
  .menu__list,
  .action__list {
    display: flex;
    align-items: center;
  }

  .menu__burger {
    display: none;
  }

  .menu__list {
    @include md {
      display: none;
    }
  }

  .menu__burger {
    @include md {
      display: flex;
      width: 56px;
    }
  }

  .menu__list {
    gap: 30px;
  }

  .menu__link--active {
    color: $color-highlight;
    font-weight: 700;
  }

  .menu__link:hover {
    color: $color-highlight;
  }

  .action__list {
    gap: 20px;

    @include sm {
      gap: 10px;
    }
  }

  .action__lang,
  .action__currency {
    display: flex;
    gap: 5px;
  }

  .action__currency {
    font-weight: 300;
    font-size: 20px;
  }

  .action__lang::after,
  .action__currency::after {
    content: url('../img/components/page-header/ic-arrow.svg');
    position: relative;
    top: -3px;
  }

  .action__item{
    position: relative;
  }

  .action__item:nth-child(-n+3) {
    @include md {
      display: none;
    }
  }

  .action__button {
    height: 25px;
    width: 25px;
    display: block;

    &--search {
      background-image: url('../img/components/page-header/ic-search.svg');
      background-size: contain;
      height: 25px;
      width: 25px;

      @include sm {
        height: 20px;
        width: 20px;
      }
    }

    &--cart {
      background-image: url('../img/components/page-header/ic-cart.svg');
      background-size: contain;
      height: 25px;
      width: 25px;

      @include sm {
        height: 20px;
        width: 20px;
      }
    }

    &--cart::after {
      content: '1';
      font-size: 8px;
      color: $color-white;
      text-align: center;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $color-highlight;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &--search:hover {
      background-image: url('../img/components/page-header/ic-search-hover.svg');
    }

    &--cart:hover {
      background-image: url('../img/components/page-header/ic-cart-hover.svg');
    }
  }
}