@use "../common/" as *;
@use "../presets/" as *;

.page-footer {
  background-color: $color-light-gray;
  padding: 70px 0;
  min-height: 354px;

  &__inner {
    @extend %container;
  }

  &__logo {
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__navigation {
    display: flex;
    gap: 50px;
  }

  &__cipyright {
    display: block;
    text-align: right;
  }

  .navigation__item {
    margin-bottom: 10px;
  }

  .navigation__link,
  .contacts__link,
  .network__heading {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.66;

    &--base {
      font-weight: 700;
      color: $color-highlight;
    }

    &--base:hover {
      opacity: .4;
    }
  }

  .contacts__item {
    margin-bottom: 10px;
  }

  .contacts__link {
    margin-right: 20px;

    &--heading {
      text-decoration: underline;
    }
  }

  .network__heading {
    text-decoration: underline;
    margin-bottom: 10px;
    display: block;
  }

  .network__container {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .network__icon:hover {
    opacity: .4;
  }

  &__cipyright {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.66;
  }
}