@use "../../common/" as *;
@use "../../presets/" as *;
@use "../../mixins/" as *;

.main-catalog {
  @extend %container;

  position: relative;

  padding-bottom: 130px;

  @include sm {
    padding-bottom: 50px;
  }

  &__inner {
    display: flex;
  }

  .filter {
    flex-basis: 16%;
  }

  .catalog {
    flex-basis: 84%;

    @include sm {
      flex-basis: 100%;
    }
  }
}