@use "../../common/" as *;
@use "../../presets/" as *;
@use "../../mixins/" as *;

.product {

  flex-basis: calc(50% - 28px);

  @include xs {
    flex-basis: calc(50% - 10px);
  }

  &__view {
    max-width: 507px;
    max-height: 500px;
    background-image: url('../img/pages/catalog/products/back-image-product.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;
    transition: .7s;
  }

  &__image:hover {
    transform: scale(0.8);
  }

  &__title {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.66;
    margin-bottom: 5px;

    @include xs {
      font-size: 12px;
      line-height: 1.4;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.66;
  }
}