@use "../presets" as *;
@use "../mixins" as *;


html {
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.2; 
  color: $color-black;
  font-feature-settings: "lnum";
}

a {
  text-decoration: none;
  color: $color-black;
}

ul {
  list-style-type: none;
}