@use "../presets" as *;
@use "../mixins" as *;


html {
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.2;
  color: $color-black;
  font-feature-settings: "lnum";
}

a {
  text-decoration: none;
  color: $color-black;
}

a:hover {
  color: $color-highlight;
}


ul {
  list-style-type: none;
}

h2 {
  font-family: 'Dela Gothic One';
  font-weight: 400;
  font-size: 36px;
  line-height: 1.4;
  text-transform: uppercase;
}